# ====================
# OS Files
# ====================
.DS_Store
Thumbs.db

# ====================
# Dependencies
# ====================
node_modules
.pnpm-store

# ====================
# Build Outputs
# ====================
dist
build
out
*.tsbuildinfo

# ====================
# Turborepo
# ====================
.turbo

# ====================
# Environment Variables
# ====================
.env
.env.*
!.env.example

# ====================
# Logs
# ====================
*.log
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ====================
# Editor / IDE
# ====================
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# ====================
# Testing / Coverage
# ====================
coverage
.nyc_output

# ====================
# Misc
# ====================
*.local
.cache